@use "sass:map";
@use "mixins" as m;
@use "variables" as v;

.bulk-manager {

    // mask default select to look like tomselect and avoid flashing on init
    select, input.form-control {
        font-size: 13px;
        line-height: 18px;
        color: #303030;
        border-radius: 3px;
        border-color: #d0d0d0;
        height: 36px;
        padding: 8px;
        box-shadow: unset;
    }

    select {
        width: 100%;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .ts-wrapper {
        box-shadow: unset;
        border: unset;
        padding: 0;

        .ts-control {
            min-height: 36px;
        }

        .ts-dropdown {
            margin: 0;
        }

        input:focus-visible {
            outline: unset;
        }
    }

    .filters-list {
        margin-bottom: 2rem;

        .filter-item {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            margin-bottom: 1rem;

            .form-group:nth-child(1) {
                flex-basis: 35%;
            }

            .form-group:nth-child(2) {
                flex-basis: 25%;
            }

            .form-group:nth-child(3) {
                flex-basis: 35%;
            }

            .btn {
                flex-basis: 5%;
            }

            .form-group {
                margin-bottom: 0;
            }
        }

        .form-label {
            display: none;
        }
    }

    .update-to-fields {
        margin-bottom: 2rem;

        .update-field-item {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            width: 100%;
            margin-bottom: 1rem;

            .form-group {
                margin-bottom: 0;
            }

            .form-group:nth-child(1) {
                flex-basis: 48%;
            }

            .form-group:nth-child(2) {
                flex-basis: 48%;
            }

            .btn {
                flex-basis: 4%;
            }

            &:last-of-type {
                .form-group {
                    margin-bottom: 0;
                }
            }
        }

        .form-label {
            display: none;
        }
    }
}

#bulk-progress-container {
    position: relative;
    margin-bottom: 1rem;
}
